.product {
  position: relative;
}

.product img {
  width: 255px;
  height: 400px;
}

.product h3 {
  font-weight: 700;
}

.product p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--color-price);
  font-size: 16px;
}

.heart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0.5rem;
  left: 0.5rem;

  background-image: url("../../assets/heart.svg");
  background-repeat: none;
}

.heart:hover {
  background-image: url("../../assets/heart-full.svg");
}
