.button {
  border: none;
  background: none;
  width: 100%;
  background-color: var(--color-theme-main);
  color: var(--color-white);
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
}
